nav{
    float:right;
    margin-right: 150px;
    
}

li{
    display: inline-block;
    margin: 30px;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    width: 30px;
    height: 20px;
    
}

#phone_pic{
    /* float: right; */
    /* width: 400px; */
    position: absolute;
    width: 50%;
    height: 400px;
    margin-left: 550px;
    margin-top: 20px;
}

#header{
    width: 900px;
    margin: auto;
}

#mid_container{
    position:relative;
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}

#art_container{
    width: 900px;
    margin: auto;
}

#main_art{
    /* width: 290px; */
    width: 40%;
    vertical-align: middle;
    margin-left: 10px;
    padding: 40px;
    background-image: linear-gradient(#F4F4F4, white);
    box-shadow: 5px 15px 10px #DEDEDE;
}

.articles{
    float: left;
    width: 23%;
    height: 350px;
    margin: 1%;
    padding: 4%;
    box-shadow: 0px 15px 10px #DEDEDE;
    margin-bottom: 100px;
    border-radius: 1%;
}
#h{
    font-size: 50px;
    margin-top: 50px;
}

#hello{
    color: #FC676B;
    font-size: 35px;
}

#inapp{
    color: #FC676B;
    font-size: 20px;
}

#timer{
    color: #FC676B;
}

#redline{
    background-color: #FC676B;
    width: 30px;;
    height: 5px;
}

button{
    margin-top: 30px;
    background-color: #00D275;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    border: none;
}

button:hover{
    background-color: #04f771;
}

.articles img{
    display: block;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.articles h2{
    text-align: center;
    margin-bottom: 3px;
}

.articles .redline2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #FC676B;
    width: 40px;;
    height: 5px;
}

@media only screen and (max-width: 700px) {
    #phone_pic{
        display: none;
    }
    /* #content{
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }*/
    #mid_container{
        width: 100%;
    }
    #main_art{
        width: 100%;
        padding:0;
        margin: 0;
    }
    #art_container{
        width: 100%;
    }
    .articles{
        display: block;
        width:100%;
        height:300px;
        padding:0;
        margin: 0;

    }
    .articles img{
        display: block;
        width: 15%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;;
    }

    #header{
        width: 100%;
    }

    nav{
        float: none;
        display: block;
        /* width: 100%;
        margin-right: 50px; */
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #logo{
        display: block;
        width: 200px;
        height: 80px;
        margin-left: 30%;
    }

    button{
        display: block;
        width: 400px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    #h{
        display: block;
        justify-content: center;
        width: 400px;
        line-height: 180%;
        font-size: 35px;
        margin-left: auto;
        margin-right: auto;
    }


  }