*{
    margin: 0px;
    padding: 0px;
}

#left{
    width: 20%;
    height: 100px;
    background-color: red;
    float: left;
}

#middle{
    width: 60%;
    height: 100px;
    background-color:yellow;
    float: left;
}

#right{
    width: 20%;
    height: 100px;
    background-color: blue;
    float: left;
}

span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rosybrown;
    margin-left: 120px;
   
}


@media screen and (max-width:800px){
    #left,#middle,#right{
        width: 100%;
    }
    span{
        font-size: 15px;
    }
}

@media screen and (max-width:500px){
    span{
        display:none;
    }
}